@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HappinessSans";
  src: url("/fonts/HappinessSansVF.woff2") format("woff2");
  font-weight: 400 900;
  font-optical-sizing: 400 900;
  font-display: swap;
}

main {
  font-family: "HappinessSans", sans-serif;
}
