@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "YourVariableFont";
  src: url("/fonts/HappinessSansVF.ttf") format("ttf");
  font-weight: 400 900;
  font-optical-sizing: 400 900;
  font-display: swap;
}
